<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.webnevelde.decision_wheel">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="Decision Wheel"
        android:icon="@mipmap/ic_launcher">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3003834599002372~4642682547"/>

        <!-- Ide jöhetnek az Activity-k, pl. MainActivity -->

    </application>

</manifest>